/**
 * Body Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-top: 0.5em;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
  margin-top: 0;
  text-align: center;
}
.selectors div {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.selectors p {
	margin-bottom: 0.5em;
}

.selectors {
	margin-bottom: 1em;
}

#searchResult {
	text-align: center;
}

.hidden{
  display:none;
}

/**
 * Tabs
 */

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

/**
 * Sortable stats table
 */

table.sortable thead {
    background-color:#efefef;
    font-weight: bold;
    cursor: default;
}

table, th, td, tr::before {
    border: 1px solid black;
    border-collapse: collapse;
    padding:2px;
    vertical-align:inherit;
}

th {
  min-width: 6em;
}

/**
 * Table row numbers
 */

table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}

/**
 * Media filters
 */

#filters div {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

label {
  display:block;
}

/**
 * Credits tab
 */

#creditsTab li{
  list-style-type: none;
  padding-top: 0.25em;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}